# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Env
.env
.env.local

# Build / deps
node_modules/
dist/
build/
.next/

# Firmware / toolchain
.pio/
build_*/
*.elf
*.bin
*.hex
__pycache__/
